MYMETA.json
MYMETA.yml
Makefile
Makefile.old
blib
pm_to_blib
t/.db
t/etc/remote_vm*.conf
t/etc/front_ldap*.conf
t/etc/usb_device.conf
t/etc/host_devices.conf
hypnotoad.pid
log
rvd_front.conf
pkg-debian-out
public/img/screenshots
public/js/custom
yarn.lock
node_modules/
t/vm/b10*
public/fallback
.cache/
public/img/version-*svg
.vscode
