<div class="alert alert-warning" role="alert">
    <p>
        {{ $ctrl.text }}
    </p>
    <div class="d-flex justify-content-end">
        <button ng-click="$ctrl.onCancel()"
                type="button"
                class="btn btn-secondary"
        >Cancel
        </button>
        <button ng-click="$ctrl.onSecondaryClick({mode:'next_dow'})"
                type="button"
                class="btn btn-outline-primary ml-2"
        >{{ $ctrl.labelSecondary || 'Action 2'}}
        </button>
        <button ng-click="$ctrl.onPrimaryClick({mode:'current'})"
                type="button"
                class="btn btn-primary ml-2"
                type="button" class="btn btn-primary ml-2"
        >{{ $ctrl.labelPrimary || 'Action 1'}}
        </button>

    </div>
</div>
