<div>

    <input type="text" ng-model="$ctrl.group_selected" placeholder="Search group"
           ng-if="$ctrl.editable"
           ng-required="!$ctrl.ngModel.$valid"
           uib-typeahead="name for name in $ctrl.getGroups($viewValue)"
           typeahead-min-length="0"
           typeahead-on-select="$ctrl.add_ldap_group()"
           typeahead-loading="$ctrl.loadingGroups"
           typeahead-no-results="$ctrl.noResults"
           class="form-control">
    <i ng-show="$ctrl.loadingGroups" class="fas fa-refresh"></i>
    <div ng-show="$ctrl.noResults">
        <i class="fas fa-times"></i> No Results Found
    </div>

    <div class="container-fluid">
        <div class="d-inline-flex mr-2 mt-2"
             ng-repeat="group in $ctrl.selected_groups">
            <div>
                <span class="badge badge-pill badge-primary p-2">
                    {{group}}
                    <span ng-click="$ctrl.remove_ldap_group(group)" ng-if="$ctrl.editable">
                        <i class="fas fa-times"></i>
                    </span>
                </span>
            </div>

        </div>
    </div>

</div>
