version: "2.2"
services:
  ravada-mysql:
    container_name: ravada-mysql
    volumes:
      - "/opt/ravada/mysql:/var/lib/mysql"
      - "/opt/ravada/log:/var/log/mysql"
    networks:
      - ravada_network
    image: mysql:5.7
    env_file: .env
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped

  ravada-front:
    container_name: ravada-front
    volumes:
      - "~/src/ravada:/ravada"
      - "/opt/ravada/screenshots:/var/www/img/screenshots"
    ports:
      - "3000:3000"
    expose:
      - "3000"
    networks:
      - ravada_network
    #By default download from dockerhub
    #image: ravada/front
    env_file: .env
    #If you want to local build
    build: dockers/front/.
    restart: unless-stopped

    depends_on:
      - ravada-mysql

  ravada-back:
    container_name: ravada-back
    volumes:
      - "sshkeys:/root/.ssh"
      - "/opt/ravada/certs/default:/etc/pki/libvirt-spice"
      - "/opt/ravada/images:/var/lib/libvirt/images"
      - "/opt/ravada/screenshots:/var/www/img/screenshots"
      - "/opt/ravada/etc:/etc/libvirt/qemu"
      - "~/src/ravada:/ravada"
    ports:
      #- "5900-5938:5900-5938"
    #Unexposed 5939 Teamviewer port
      - "5940-5999:5940-5999"
      - "55900-55999:55900-55999"
    networks:
      - ravada_network
    #By default download from dockerhub
    #image: ravada/back
    env_file: .env
    #If you want to local build
    build: dockers/back/.
    privileged: true
    restart: unless-stopped

    depends_on:
      - ravada-mysql

volumes:
  sshkeys:

networks:
  ravada_network:
    external: false
    name: ravada_network
