<table id="admin-nav-table">
  <tr><td>
<a class="btn btn-success btn-sm" ng-click="show('machines')">
<i class="fa fa-desktop" aria-hidden="true"></i>&nbspmachines</a>
  </tr></td>
  <tr><td>
<a class="btn btn-success btn-sm" ng-click="show('users')">
<i class="fa fa-user" aria-hidden="true"></i>&nbspusers</a>
  </tr></td>
  <tr><td>
<a class="btn btn-success btn-sm" ng-click="show('messages')">
<i class="fa fa-envelope" aria-hidden="true"></i>&nbspmessages</a>
  </tr></td>
</table>
<table ng-show="showing=='machines' || showing == 'machine'" class="table table-striped" border="0">
  <thead><tr><th>Machines</th></tr></thead>
  <tbody>
    <tr ng-repeat="machine in list_machines">
      <td>
        <button ng-show="{{machine.is_public}}" ng-click="show('machine',machine.id)">
          <b>{{machine.name}}</b>
        </button>
        <button ng-hide="{{machine.is_public}}" ng-click="show('machine',machine.id)">
          {{machine.name}}
        </button>
      </td>
    </tr>
  </tbody>
</table>
<table ng-show="showing=='users'" class="table table-striped">
  <thead><tr><th>Users</th></tr></thead>
  <tbody><tr ng-repeat="user in list_users"><td>{{user.name}}</td></tr></tbody>
</table>
