
<div class="panel-body">
    <div class="col-lg-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Machine Name</th>
                    <th>Base</th>
                    <th>Active</th>
                    <th>Actions</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="machine in list_machines">
                    <td><a href="/machine/manage/{{machine.id}}.html">{{machine.name}}</a></td>
                    <td><i ng-show="{{machine.is_base}}" class="fa fa-check" aria-hidden="true"></i><i ng-hide="{{machine.is_base}}" class="fa fa-times" aria-hidden="true"></i></td>
                    <td><i ng-show="{{machine.is_active}}" class="fa fa-check" aria-hidden="true"></i><i ng-show="{{!machine.is_active}}" class="fa fa-times" aria-hidden="true"></i></td>
                    <td><a class="btn btn-primary btn-sm" href="/machine/view/{{machine.id}}.html">View</a>
                        <a ng-show="{{machine.is_base}}" class="btn btn-primary btn-sm" href="/machine/clone/{{machine.id}}.html">Clone</a>
                        <a ng-show="{{machine.is_active}}" class="btn btn-primary btn-sm" href="/machine/screenshot/{{machine.id}}.html">Screenshot</a>
                        <a class="btn btn-primary btn-sm" href="/machine/prepare/{{machine.id}}.html">Prepare Base</a>
                        <a ng-show="{{machine.is_active}}" class="btn btn-warning btn-sm" href="/machine/shutdown/{{machine.id}}.html"><strong>&nbsp;<i class="fa fa-power-off" aria-hidden="true"></i></strong> ShutDown</a>
                        
                    </td>
                    
                </tr>
            </tbody>
        </table>        
    </div>
</div>

