
<div class="panel-body">
    <div class="col-lg-12">
      <div ng-show="pingbe_fail" class="alert alert-danger" ng-cloak>
        <strong>Error!</strong> Backend no available!
      </div>
        <table class="table table-striped" border="0">
            <thead>
                <tr>
                    <th>Machine Name</th>
                    <th>Base</th>
                    <th>Public</th>
                    <th>Status</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="machine in list_machines">
                    <td>
                        <button ng-show="{{machine.is_public}}" ng-click="show('machine',machine.id)">
                          <b>{{machine.name}}</b>
                        </button>
                        <button ng-hide="{{machine.is_public}}" ng-click="show('machine',machine.id)">
                          {{machine.name}}
                        </button>
                    </td>
                    <td>
                        <i ng-show="{{machine.has_clones}}" class="fa fa-check" aria-hidden="true"></i>
                        <input type="checkbox" checked 
                               ng-show="{{machine.is_base}} && !{{machine.has_clones}} && !{{machine.is_locked}}"
                            ng-click="action('machine','remove_base',machine.id)">
                        <input type="checkbox" 
                               ng-show="!{{machine.is_base}} && !{{machine.is_locked}}" 
                            ng-click="action('machine','prepare',machine.id)">
                    </td>
                    <td>
                        <input type="checkbox" checked ng-show="{{machine.is_public}}" ng-click="set_public(machine.id,0)">

                         <input type="checkbox" ng-hide="{{machine.is_public}}" ng-click="set_public(machine.id,1)"></td>
                    <td>
                        <span style="float:right;" ng-show="{{machine.is_paused && machine.is_active}}" class="label label-warning">Paused</span>
                        <span style="float:left;" ng-show="{{!machine.is_paused && machine.is_active}}" class="label label-success">Running</span>
                        <span style="float:right;" ng-show="{{!machine.is_active}}" class="label label-danger">Down</span>

                    </td>
                    <td>
                       
                      <div ng-hide="{{machine.is_locked}}">
                        <a class="btn btn-success btn-sm" ng-hide="{{machine.is_active}}" ng-click="action('machine','start',machine.id)"><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp Start</a>
                        <button type="button" ng-click="action('machine','shutdown',machine.id)" ng-show="{{machine.is_active}}" class="btn btn-danger btn-sm"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp ShutDown</button>

                        <a class="btn btn-primary btn-sm" ng-href="/machine/view/{{machine.id}}.html"><i class="fa fa-desktop" aria-hidden="true"></i>&nbsp View</a>

                        <button type="button" ng-click="action('machine','screenshot',machine.id)" ng-show="{{machine.is_active}}" class="btn btn-primary btn-sm"><i class="fa fa-camera" aria-hidden="true"></i>&nbsp Screenshot</button>


                      </div>
                      <div ng-show="{{machine.is_locked}}">Machine locked by requested <a href="/request/{{machine.is_locked}}.html">process</a></div>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
