<h2>Users</h2>
<div class="panel-body col-lg-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in list_users">
        <td>{{user.name}}</td>
        <td>
          <a style="cursor:pointer;" ng-show="{{user.is_admin}}"
          ng-click="action('users','remove_admin',user.id)"
          class="fa fa-check" aria-hidden="true">
          </a>
          <a style="cursor:pointer;" ng-show="{{user.is_admin!=1}}"
           ng-click="action('users','make_admin',user.id)"
           class="fa fa-times" aria-hiden="true">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
