<!--<h2>New Base</h2>
<form name="new_machine" method="post" action="#" 
    ng-controller="new_machine"
    novalidate
    >
    <label for "name">Name</label><input type="text" size="20" name="name" ><br/>

    <label for="id_iso">ISO image</label>
    <select name ="id_iso"
        ng-model="id_iso"
        ng-options="item.name for item in images track by item.id"
    >
    </select>
    <br/>
    <label for="backend">Backend</label>
    <select name="backend"
            ng-model="backend"
            ng-options="item for item in backends"
            >
    </select>
        <br/>
    Disk: <input type="text" name="disk" size="2"> Gb<br/>
    Ram: <input type="text" name="ram" size="2"> Gb<br/>
    <input type="submit" name="submit" value="create">
    
</form>-->


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>New Base</h2>
        </div>
        <div class="panel-body">
            <form name="new_machine" role="form" method="post" action="#" ng-controller="new_machine" novalidate>
                <div class="from-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" size="20" name="name" ><br/>
                </div>
                <div class="from-group">
                    <label for="id_iso">ISO image</label>
                    <select name ="id_iso"
                            ng-model="id_iso"
                            ng-options="item.name for item in images track by item.id"
                    ></select>
                </div><br/>
                <div class="from-group">
                    <label for="backend">Backend</label>
                    <select name="backend"
                            ng-model="backend"
                            ng-options="item for item in backends track by item"
                    ></select>
                </div><br/>
                <div class="from-group">
                    <label for="disk">Disk Size: (GB)</label>
                    <input class="form-control" type="text" name="disk" size="2">
                </div><br/>
                <div class="from-group">
                    <label fro="ram">Ram: (GB)</label>
                    <input class="form-control" type="text" name="ram" size="2">
                </div><br/>


                <input type="submit" class="btn btn-default" name="submit" value="Create">

            </form>
        </div>
    </div>
