<div ng-repeat="machine in list_machines" ng-show="{{machine.is_base}}">
    <div class="col-sm-4">
    <div class="panel panel-success machine">

    <div class="panel-heading">
        <h3 class="panel-title">{{machine.name}}</h3><br>
        <img id="screensh" src="/img/screenshot.jpg">
    </div>
    <div class="panel-body machine-card">
        <a type="button"  class="btn btn-success" href="/machine/clone/{{machine.id}}.html"><strong>&nbsp;<i class="fa fa-play" aria-hidden="true"></i>&nbsp;Start this Machine</strong></a>
        <a type="button"  class="btn btn-danger" ng-show="{{machine.is_active}}" href="/machine/shutdown/{{machine.id}}.html"><strong>&nbsp;<i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;Shutdown this Machine</strong></a>
    </div>
    </div>
    </div>
</div>
