<div ng-repeat="machine in list_bases">
    <div class="col-sm-4">
    <div class="panel panel-success machine">

    <div class="panel-heading">
        <h3 class="panel-title">{{machine.name}}</h3><br>
        <img id="screensh" src="/img/screenshots/{{machine.id}}.png">
    </div>
    <div class="panel-body machine-card">
        <a type="button"  class="btn btn-success" href="/machine/clone/{{machine.id}}.html"><strong>&nbsp;<i class="fa fa-play" aria-hidden="true"></i>&nbsp;Start</strong></a>
    </div>
    </div>
    </div>
</div>
