{
  hypnotoad => {
    pid_file => '/var/run/ravada/rvd_front.pid'
    ,listen => ['http://*:8081']
  }
  ,dir => {
      templates => '/usr/share/ravada/templates'
        ,public => '/usr/share/ravada/public'
  }
  ,user => 'ravada'
  ,group => 'ravada'
  ,secrets => ['changeme1','changeme2']
  ,login_custom => ''
  ,footer => '/bootstrap/footer'
  ,monitoring => 0
  ,guide => ''
  ,guide_custom => ''
  ,session_timeout => 5*60
  ,session_timeout_admin => 15*60
};
