Source: ravada
Section: perl
Priority: optional
Maintainer: frankie <frankie@>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: perl
Standards-Version: 3.9.8
Homepage: https://metacpan.org/release/ravada

Package: ravada
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: Remove Virtual Desktop Manager
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
