Source: ravada
Section: perl
Priority: optional
Maintainer: frankie <frankie@>
Build-Depends: debhelper (>= 9),
 perl
Standards-Version: 3.9.8
Homepage: https://metacpan.org/release/ravada

Package: ravada
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: Remove Virtual Desktop Manager
 (no description was found)
 .
 This description was automagically extracted from the module by dh-make-perl.
