[Unit]
Description=Backend Ravada
Requires=network.target
After=network.target remote-fs.target nss-lookup.target mysql.target
# put here other service requirements

[Service]
Type=simple
RemainAfterExit=yes
SyslogIdentifier=rvd_back
PIDFile=/var/run/rvd_back.pid
ExecStart=/usr/sbin/rvd_back &
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=rvd_back.service

