[Unit]
Description=Web Ravada
Requires=network.target
After=network.target
# put here other service requirements

[Service]
Type=simple
RemainAfterExit=yes
SyslogIdentifier=rvd_front
ExecStart=/usr/bin/hypnotoad /usr/sbin/rvd_front -f
ExecStop=/usr/bin/hypnotoad -s /usr/sbin/rvd_front
ExecReload=/usr/bin/hypnotoad /usr/sbin/rvd_front

[Install]
WantedBy=multi-user.target
Alias=rvd_front.service

