body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {

    }

    #page-wrapper {
        padding: 17px 100px;
        min-height: 768px;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        background-color: #fff;
    }
}
